#title {
  display: flex;
  font-size: 1em;
  font-weight: 600;
  align-items: center;
}

.icon-container {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-content: center;
  border-radius: 5px;
}
